/* Dashboard side menu ====================*/
.dashboard-main-menu{
    padding: 5px 8px;
    cursor: pointer;
    transition: background .2s;
    margin-bottom: 6px;
    color: #1c1d21;
}
.dashboard-main-menu:hover{
    background-color: #1C1D21;
    color: white;
}
