.section-heading {
    position: relative;
    text-align: center;
    margin-bottom: 35px;
    font-size: 25px;
    text-transform: uppercase;
}

.section-heading::after{
    content: '';
    width: 60px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.603);
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
}
